  .registration-page{
      background-image: linear-gradient(to bottom, rgba(141, 12, 132, 0.5), rgba(0, 0, 0, 0.74)), url( 'Registration\ Background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 100vh;
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
    .registration-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e0cd3a80;
    border: 1px solid #066943a0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex; 
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .form-group {
    flex: 1;
  }
  
  label {
    font-size: large;
    font-weight: bold;
  }
  
  input, select {
    width: 96%;
    padding: 10px;
    border: 1.7px solid #8c076fc5;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(255, 247, 247);
  }
  
   .form-group .Register-button {
    background-color: #33b300;
    font-size: larger;
    width: 120px;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.7s, transform 0.9s ease;
    box-shadow: 0 6px 8px rgb(38, 27, 0);
  }
  
 .form-group .Register-button:hover {
    background-color: #4bff04;
    color: black;
    transform: scale(1.2);
  }

  .form-group .Login-button{
    background-color: #0062b3;
    font-size: larger;
    width: 120px;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.7s, transform 0.9s ease;
    box-shadow: 0 6px 8px rgb(38, 27, 0);
  }

  .form-group .Login-button:hover {
    background-color:#0082ed;
    color: black;
    transform: scale(1.2);
  }

  .login-link {
    margin-top: 10px;
    font-size: larger;
    text-decoration: none;
    color: #000000;
  }

  .login-link-name{
    cursor: pointer;
    font-weight: bold;
    color: rgb(1, 74, 164);
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.7s, transform 0.9s ease;
  }
  
  .login-link-name:hover {
    text-decoration: underline;
  }
  